@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-webkit-scrollbar {
		width: 10px;
		background-color: theme('colors.gray.100');
	}
	::-webkit-scrollbar-thumb {
		border-radius: 1000px;
		background-color: theme('colors.gray.300');
		border: 2px solid theme('colors.gray.100');
	}
	html {
		scrollbar-width: thin;
		scrollbar-color: vtheme('colors.gray.300') theme('colors.gray.100');
	}
}
